:root {
    --orange: #ffbd00;
    --orange-50-opacity: rgba(255, 189, 0, 0.5);
    --white-50-opacity: rgba(255, 255, 255, 0.5);
    --white-33-opacity: rgba(255, 255, 255, 0.33);
    --grey: #a3a3a3;
    --grey-66-opacity: rgba(163, 163, 163, 0.66);
    --grey-50-opacity: rgba(163, 163, 163, 0.5);
    --grey-33-opacity: rgba(163, 163, 163, 0.33);
    --black-66-opacity: rgba(0, 0, 0, 0.66);
    --black-50-opacity: rgba(0, 0, 0, 0.5);
    --black-gradient: linear-gradient(to bottom, transparent, transparent, var(--black-66-opacity));
}
* {
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-weight: 400; /* Light: 300, Regular: 400, Medium: 500, Semibold: 600, Bold: 700 */
    transition:
            color 1s ease,
            font-weight 1s ease,
            text-shadow 1s ease,
            box-shadow 0.5s ease,
            height 1s ease,
            opacity 0.5s ease,
            background-color 0.5s ease,
            background 0.5s ease;
}
body {
    background: url('images/background.png') no-repeat fixed center;
}
header {
    grid-area: h;
    display: flex;
    align-items: center;
    gap: 2%;
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left: 35px;
}
.middle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.profile-container {
    display: flex;
    align-items: center;
    padding-right: 35px;
    gap: 35px;
}

.logo {
    height: 70px;
}
.logo-small {
    display: none;
    height: 70px;
}
.logo:hover, .logo-small:hover {
    height: 75px;
}

.search-bar input {
    font-size: 1em;
    color: white;
    width: 400px;
    height: 50px;
    padding: 0 3% 0 11%;
    border: 0.2em solid var(--grey);
    border-radius: 35px;
    outline: none;
    background: url('images/symbol_search_grey.png') no-repeat 15px center;
    background-size: 20px;
}
.search-bar input:hover {
    background: url('images/symbol_search_white.png') no-repeat 15px center;
    background-size: 20px;
}
.search-bar.input-hovered input {
    box-shadow: 0 0 15px var(--grey-33-opacity);
}

.btn-normal-grey {
    font-size: 175%;
    color: var(--grey);
    text-shadow: 0 0 15px black;
    padding: 0 1% 0 1%;
    border: none;
    background: none;
}
.btn-normal-grey:hover {
    font-weight: 600;
    text-shadow: 0 0 20px var(--grey-66-opacity);
}
.btn-bold-orange {
    font-size: 125%;
    font-weight: 500;
    color: black;
    border: none;
    border-radius: 35px;
    background-color: var(--orange);
    padding: 5px 17px;
    margin-left: 5px;
    cursor: pointer;
}
.btn-bold-orange:hover {
    font-weight: 700;
    text-shadow: none;
    background-color: white;
}

.header-profile-picture {
    height: 70px;
    border-radius: 50%;
}
.header-profile-picture:hover {
    height: 75px;
    box-shadow: 0 0 20px var(--grey-50-opacity);
}

.title-label {
    font-size: 135%;
    color: var(--orange);
    text-shadow: 0 0 3px black;
    padding: 20px 0 0 10px;
}
.main-label {
    font-size: 115%;
    color: white;
    text-shadow: 0 0 3px black;
    padding-left: 10px;
}
.element-border {
    padding: 0 15px 20px 15px;
    border-radius: 25px;
    background-color: var(--black-50-opacity);
}
.element-container {
    padding-top: 20px;
}
.element-inner-container {
    padding-top: 5px;
}
.element-input {
    font-size: 110%;
    color: white;
    text-shadow: 0 0 3px black;
    outline: none;
    border: none;
    width: calc(100% - 10px);
    border-radius: 35px;
    background-color: var(--white-33-opacity);
    padding: 5px 15px;
    margin-left: 5px;
}

.tags {
    color: white;
    text-shadow: 0 0 3px black;
    display: flex;
    flex-wrap: wrap;
}
.tag {
    border-radius: 35px;
    background-color: var(--white-33-opacity);
    padding: 2px 10px;
    margin: 5px;
    cursor: pointer;
}

.cocktails-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}
.cocktail-container {
    position: relative;
    max-width: 200px;
    margin: 10px;
    text-align: center;
}
.cocktail-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 200px;
    border-radius: 10px;
    background-image: var(--black-gradient);
    pointer-events: none; /* Ensure the overlay does not interfere with any interactions */
}
.cocktail-title-label {
    font-size: 125%;
    color: white;
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black;
    display: block;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    max-width: 200px;
    text-align: center;
    margin-bottom: 5px;
}
.cocktail-rating-label {
    font-size: 100%;
    color: white;
    text-shadow: 0 0 5px var(--black-50-opacity), 0 0 10px black;
    position: absolute;
    top: 10px;
    left: 10px;
    margin-left: 5px;
}
.cocktail-img {
    box-shadow: 0 3px 5px var(--black-50-opacity);
}
.cocktail-container .cocktail-img {
    display: block;
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    z-index: 0;
}

/* Responsive Layout */
@media (max-width: 930px) {
    .logo-container, .middle-container, .profile-container {
        padding-left: 0;
        padding-right: 0;
    }
    .logo-container {
        padding-left: 25px;
    }
    .profile-container {
        padding-right: 25px;
    }

    .logo {
        display: none;
    }
    .logo-small {
        display: block;
    }

    .btn-normal-grey {
        display: none;
    }
}

@media (max-width: 630px) {
    .logo-container, .middle-container, .profile-container {
        padding-left: 0;
        padding-right: 0;
    }
    .logo-container {
        padding-left: 25px;
    }
    .profile-container {
        padding-right: 25px;
    }

    .logo {
        display: none;
    }
    .logo-small {
        display: block;
    }

    .search-bar input {
        width: 250px;
        background: transparent;
    }
    .search-bar input:hover {
        background: transparent;
    }
}