:root {
    --orange: #ffbd00;
    --orange-50-opacity: rgba(255, 189, 0, 0.5);

    --white-50-opacity: rgba(255, 255, 255, 0.5);
    --white-33-opacity: rgba(255, 255, 255, 0.33);
    --white-15-opacity: rgba(255, 255, 255, 0.15);

    --grey: #a3a3a3;
    --grey-66-opacity: rgba(163, 163, 163, 0.66);
    --grey-50-opacity: rgba(163, 163, 163, 0.5);
    --grey-33-opacity: rgba(163, 163, 163, 0.33);

    --black-66-opacity: rgba(0, 0, 0, 0.66);
    --black-50-opacity: rgba(0, 0, 0, 0.5);

    --green: #4b930d;
    --green-50-opacity: rgba(75, 147, 13, 0.5);

    --yellow: #d9c329;
    --yellow-50-opacity: rgba(217, 195, 41, 0.5);

    --red: #ff351c;
    --red-50-opacity: rgba(255, 53, 28, 0.5);

    --black-gradient: linear-gradient(to bottom, transparent, transparent, var(--black-66-opacity));

    --base-font-size: 1rem;
    --tag-font-size: 1.2rem;
    --main-font-size: 1.15rem;
    --cocktail-rating-font-size: 1.15rem;
    --cocktail-name-font-size: 1.15rem;
    --title-font-size: 1.35rem;
    --btn-small-font-size: 1.35rem;
    --btn-big-font-size: 1.75rem;

    --cocktail-img-size: 175px;
    --btn-part-size: 42px;
    --btn-img-size: 24px;
}
* {
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-weight: 400; /* Light: 300, Regular: 400, Medium: 500, Semi-bold: 600, Bold: 700 */
    transition:
            color 1s ease,
            font-weight 1s ease,
            text-shadow 1s ease,
            filter 0.5s ease,
            box-shadow 0.5s ease,
            width 0.5s ease,
            height 0.5s ease,
            opacity 0.5s ease,
            content 0.5s ease,
            background-color 0.5s ease,
            background 0.5s ease;
}
body {
    font-size: var(--base-font-size);
    background: url('images/background.png') no-repeat fixed center;
    background-size: cover;
    display: grid;
    margin: 0;
}
header {
    grid-area: h;
    display: grid;
    grid-template-areas:
        "logo middle profile";
    grid-template-columns: min-content auto min-content;
    align-items: center;
    padding: 0 35px 0 35px;
    column-gap: 2%;
}
.subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
#sidebar {
    grid-area: s;
    padding-left: 35px;
}
main {
    grid-area: m;
    padding: 0 30px 0 30px;
}
footer {
    grid-area: f;
}
.logo-container {
    grid-area: logo;
    justify-content: left;
}
.middle-container {
    grid-area: middle;
    align-items: center;
    justify-content: center;
}
.profile-container {
    grid-area: profile;
    justify-content: right;
}
.profile-container > * {
   margin-left: 30px;
}
.logo-container, .middle-container, .profile-container {
    display: flex;
}

.logo, .logo-small {
    height: 70px;
    filter: drop-shadow(0 0 5px black);
}
.logo-small {
    display: none;
}
.logo:hover {
    height: 75px;
    filter: drop-shadow(0 0 5px var(--grey-66-opacity));
}
.logo-small:hover {
    height: 75px;
    filter: drop-shadow(0 0 5px var(--orange-50-opacity));
}

.search-bar input {
    font-size: var(--base-font-size);
    color: white;
    width: 400px;
    height: 50px;
    padding: 0 3% 0 11%;
    border: 0.2em solid var(--grey);
    border-radius: 35px;
    outline: none;
    background: url('images/symbol_search_grey.png') no-repeat 15px center;
    background-size: 20px;
}
.search-bar input:hover {
    background: url('images/symbol_search_white.png') no-repeat 15px center;
    background-size: 20px;
}
.search-bar.input-hovered input {
    box-shadow: 0 0 15px var(--grey-33-opacity);
}

.title-label {
    font-size: var(--title-font-size);
    color: var(--orange);
    text-shadow: 0 0 3px black;
    padding: 20px 0 0 10px;
}
.main-label {
    font-size: var(--main-font-size);
    color: white;
    text-shadow: 0 0 3px black;
    padding-left: 10px;
}
.element-border {
    padding: 0 15px 20px 15px;
    border-radius: 25px;
    background-color: var(--black-50-opacity);
}
.element-container {
    padding-top: 20px;
}
.element-inner-container {
    color: white;
    font-size: 110%;
    padding-top: 5px;
}
.bullets li {
    margin-bottom: 10px;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: flex-start;
}
.element-input.tags {
    display: inline-block;
}
.element-input {
    font-size: var(--tag-font-size);
    color: white;
    text-shadow: 0 0 3px black;
    outline: none;
    border: none;
    width: calc(100% - 10px);
    border-radius: 25px;
    background-color: var(--white-33-opacity);
    padding: 5px 15px;
    margin-left: 5px;
}
.tag-inner-container, .btn-inner-container {
    display: inline-flex;
    flex-wrap: wrap;
}
.tag {
    font-size: var(--tag-font-size);
    color: white;
    text-shadow: 0 0 3px black;
    border-radius: 20px;
    background-color: var(--white-33-opacity);
    padding: 2px 10px;
    margin: 5px;
    cursor: pointer;
    white-space: nowrap;
}

.rating-bar input {
    overflow: hidden;
    cursor: pointer;
    appearance: none;
    height: 15px;
    width: calc(100% - 15px);
    border-radius: 35px;
    background-color: var(--white-50-opacity);
    margin-left: 7px;
}
input::-webkit-slider-thumb {
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 5px 2px var(--black-50-opacity), 508px 0 0 500px var(--orange);
}
.slide-value {
    color: white;
}

.btn-normal-grey {
    font-size: var(--btn-big-font-size);
    color: var(--grey);
    text-shadow: 0 0 15px black;
    padding: 0 1% 0 1%;
    border: none;
    background: none;
}
.btn-normal-grey:hover {
    font-weight: 600;
    text-shadow: 0 0 20px var(--grey-66-opacity);
}
.delete:hover, .btn-normal-grey:hover#logout-btn, .btn-normal-grey:hover#delete-btn {
    color: var(--red);
    text-shadow: 0 0 15px var(--red);
}
.btn-bold-orange {
    font-size: var(--btn-small-font-size);
    font-weight: 500;
    color: black;
    border: none;
    border-radius: 35px;
    background-color: var(--orange);
    padding: 5px 17px;
    margin-left: 5px;
    cursor: pointer;
}
.btn-bold-orange:hover {
    font-weight: 700;
    text-shadow: none;
    background-color: white;
}

.btn-part, .btn-part-nr {
    height: var(--btn-part-size);
    width: var(--btn-part-size);
    border: none;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-img {
    height: var(--btn-img-size);
    filter: drop-shadow(0 0 3px var(--black-66-opacity));
}
.btn-recommend, #btn-recommend:hover, #btn-recommend.selected {
    background-color: var(--green-50-opacity);
}
#btn-recommend.selected .btn-img,
#btn-recommend:hover .btn-img {
    content: url('images/symbol_recommend.png');
}
.btn-not_recommend, #btn-not_recommend:hover, #btn-not_recommend.selected {
    background-color: var(--red-50-opacity);
}
#btn-not_recommend.selected .btn-img,
#btn-not_recommend:hover .btn-img {
    content: url('images/symbol_recommend_no.png');
}
.btn-pin, #btn-pin:hover, #btn-pin.selected{
    background-color: var(--yellow-50-opacity);
}
#btn-pin.selected .btn-img,
#btn-pin:hover .btn-img {
    content: url('images/symbol_pin.png');
}
.btn-fav, #btn-fav:hover, #btn-fav.selected{
    background-color: var(--orange-50-opacity);
}
#btn-fav.selected .btn-img,
#btn-fav:hover .btn-img {
    content: url('images/symbol_fav.png');
}
.btn-grey {
    background-color: var(--white-33-opacity);
}
.btn-edit.selected .btn-img,
.btn-edit:hover .btn-img {
    content: url('images/symbol_edit_white.png');
}

.cocktails-container {
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--cocktail-img-size), 1fr));
    gap: 10px;
    justify-items: center;
}
.cocktail-container {
    color: white;
    position: relative;
    margin: 10px;
}
.cocktail-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: var(--black-gradient);
    pointer-events: none;
}
.cocktail-title-label {
    font-size: var(--cocktail-name-font-size);
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black;
    text-align: center;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 90%;
    bottom: 10px;
}
.cocktail-rating-label {
    font-size: var(--cocktail-rating-font-size);
    text-shadow: 0 0 5px var(--black-50-opacity), 0 0 10px black;
    position: absolute;
    top: 10px;
    left: 10px;
    margin-left: 5px;
}
.cocktail-img {
    box-shadow: 0 3px 5px var(--black-50-opacity);
}
.cocktail-container .cocktail-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    z-index: 0;
}
.cocktail-container, .cocktail-container::before, .cocktail-container .cocktail-img {
    max-width: var(--cocktail-img-size);
    max-height: var(--cocktail-img-size);
}

.alert {
    font-size: var(--tag-font-size);
    color: white;
    text-shadow: 0 0 5px var(--black-50-opacity), 0 0 10px black;
    position: fixed;
    top: 51px;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px 20px 3px 20px;
    border-radius: 20px;
    z-index: 1000;
    text-align: center;
    background-color: var(--white-33-opacity);
}
.alert-not-fixed {
    margin: 0 5px 15px 5px;
    position: revert;
    left: 0;
    transform: none;
}
.error-alert {
    background-color: var(--red);
}
.success-alert {
    background-color: var(--green);
}

.hidden {
    display: none;
}

@media (max-width: 930px) {
    :root {
        --btn-big-font-size: 1.5rem;
    }
    .logo {
        display: none;
    }
    .logo-small {
        display: block;
    }
    .search-header,
    .search-header input {
        width: 100%;
        max-width: 400px;
    }
}