@import url(/client/base.css);

:root {
    --base-font-size: 1.35rem;
    --tag-font-size: 1.5rem;
    --main-font-size: 1.5rem;
    --title-font-size: 2rem;
    --cocktail-name-font-size: 1.65rem;
    --cocktail-img-size: 300px;
}
body {
    grid-template-areas:
        "h"
        "m"
        "f";
    grid-template-rows: 135px auto 35px;
}
main {
    display: grid;
    grid-template-areas:
        "recipe recipe"
        "rate quote";
    grid-template-columns: 350px auto;
    gap: 35px;
}

input::-webkit-slider-thumb {
    box-shadow: 0 0 5px 2px var(--black-50-opacity);
}
#recipe-container.element-border {
    grid-area: recipe;
    display: grid;
    grid-template-areas:
        "img tags fav"
        "img ingredients ingredients"
        "instructions instructions instructions";
    grid-template-columns: calc(var(--cocktail-img-size) + 20px) auto min-content;
    grid-template-rows: min-content auto auto;
    column-gap: 2%;
}
.cocktail-container {
    grid-area: img;
}
.tag-container {
    grid-area: tags;
}
.tags > * {
    padding-right: 15px;
}
.ingredients {
    grid-area: ingredients;
    margin-left: 7px;
}
.instructions {
    grid-area: instructions;
    margin-left: 7px;
}
#btn-fav {
    grid-area: fav;
}

.title-label {
    padding: 5px 0 0 0;
}
.element-border {
    padding-top: 15px;
}
.tag {
    border-radius: 20px;
    padding: 2px 15px 2px 15px;
}

.btn-item {
    display: grid;
    grid-template-areas:
        "s-img s-value";
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
}
.stat-value {
    grid-area: s-value;
}
#display-stats.btn-inner-container > * {
    margin-right: 20px;
}
#display-stats.btn-inner-container {
    padding: 0;
}

.ingredients .element-inner-container {
    max-height: 250px;
}
.ingredients.exceeds-height .element-inner-container {
    display: grid;
    grid-template-columns: max-content auto;
    overflow: auto;
    column-gap: 50px;
    align-content: start;
}
.bullets {
    display: contents;
}

#rate-container.element-border {
    grid-area: rate;
}
#btn-rate-container.btn-inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    width: 100%;
    --btn-part-size: 45px;
    --btn-img-size: 26px;
}
#rate-bar {
    display: block;
    text-align: center;
}
#rate-bar > * {
    padding: 0
}
.btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#quote-container {
    grid-area: quote;
}
#quote {
    background-color: var(--white-15-opacity);
}

@media (max-width: 1100px) {
    :root {
        --base-font-size: 1.15rem;
        --tag-font-size: 1.35rem;
        --title-font-size: 1.8rem;
        --btn-part-size: 39px;
        --btn-img-size: 23px;
    }
}

@media (max-width: 930px) {
    body * {
        justify-items: center;
        text-align: center;
    }
    #recipe-container.element-border {
        grid-template-areas:
        "img fav"
        "tags tags"
        "ingredients ingredients"
        "instructions instructions";
        grid-template-columns: auto 48px;
    }
    main {
        grid-template-areas:
        "recipe"
        "rate";
        grid-template-columns: auto;
    }
    .element-border {
        width: 100%;
    }
    .tags, .btn-container, .tag-inner-container,
    #btn-rate-container.btn-inner-container {
        justify-content: center;
    }
    .btn-container {
        gap: 35px;
    }
    #delete-btn.btn-normal-grey {
        display: flex;
    }

    .cocktail-container {
        margin-left: 70px;
    }
    .ingredients .element-inner-container {
        max-height: none;
    }
    .ingredients.exceeds-height .element-inner-container {
        display: block;
        column-count: 1;
    }
}

@media (max-width: 500px) {
    :root {
        --base-font-size: 1.0rem;
        --tag-font-size: 1.2rem;
        --main-font-size: 1.2rem;
        --btn-small-font-size: 1.2rem;
        --btn-big-font-size: 1.5rem;
        --title-font-size: 1.5rem;
        --cocktail-img-size: 200px;
        --btn-part-size: 37px;
        --btn-img-size: 22px;
    }
}