@import url(../../base.css);

body {
    display: grid;
    grid-template-areas:
        "h"
        "m";
    grid-template-rows: 135px auto;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}


input {
    font-size: 110%;
    color: white;
    text-shadow: 0 0 3px black;
    outline: none;
    border: none;
    border-radius: 35px;
    background-color: var(--white-33-opacity);
    padding: 5px 15px;
    margin: 5px;
}

.login-btn {
    font-size: 125%;
    color: white;
    border: none;
    border-radius: 35px;
    background-color: var(--orange);
    padding: 3% 7%;
    margin-left: 5px;
    cursor: pointer;
}

.login-btn:hover {
    color: black;
    text-shadow: none;
    background-color: white;
}
.header-btn {
    font-size: 125%;
    margin-right: 5px;
}

/* Responsive Layout */
@media (max-width: 600px) {
    form.login {
        width: 90%;
        padding: 15px;
    }

    label, input, button {
        font-size: 14px;
    }

    input {
        padding: 6px;
    }

    button {
        padding: 8px;
    }
}
