@import url(../../base.css);

body {
    display: grid;
    grid-template-areas:
        "h"
        "m";
    grid-template-rows: 135px auto;
    margin: 0;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.element-border {
    margin-top: 5%;
    width: 400px;
}
input {
    font-size: 110%;
    color: white;
    text-shadow: 0 0 3px black;
    outline: none;
    border: none;
    width: calc(100% - 5px);
    border-radius: 35px;
    background-color: var(--white-33-opacity);
    padding: 5px 15px;
    margin-left: 5px;
}

.btn-container {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login-btn {
    font-size: 125%;
    font-weight: 500;
    color: black;
    border: none;
    border-radius: 35px;
    background-color: var(--orange);
    padding: 5px 17px;
    margin-left: 5px;
    cursor: pointer;
}
.login-btn:hover {
    font-weight: 700;
    text-shadow: none;
    background-color: white;
}
.header-btn {
    font-size: 125%;
    margin-right: 5px;
}
.header-btn:hover {
    text-shadow: 0 0 15px black;
}

/* Responsive Layout */
@media (max-width: 600px) {
    form.login {
        width: 90%;
        padding: 15px;
    }

    label, input, button {
        font-size: 14px;
    }

    input {
        padding: 6px;
    }

    button {
        padding: 8px;
    }
}
