@import url(/client/base.css);

body {
    display: grid;
    grid-template-areas:
        "h"
        "m"
        "f";
    grid-template-rows: 135px auto 35px;
    margin: 0;
}

.element-border {
    padding-top: 15px;
}
.element-inner-container {
    color: white;
}

.cocktail-container,
.cocktail-container::before,
.cocktail-container .cocktail-img {
    max-width: 250px;
}
.cocktail-title-label {
    font-size: 150%;
}
.cocktail-rating-label {
    font-size: 125%;
}

