@import url(../../base.css);

body {
    display: grid;
    grid-template-areas:
        "h h"
        "s m";
    grid-template-columns: minmax(100px, 330px) minmax(300px, auto);
    grid-template-rows: 135px auto;
    margin: 0;
}

#sidebar {
    grid-area: s;
    padding-left: 35px;
}
.filter {
    padding: 1px 15px 15px 15px;
    border-radius: 35px;
    background-color: var(--black-50-opacity);
}
.filter h3 {
    font-size: 20px;
    color: #ffcc00;
    text-shadow: 0 0 3px black;
    padding-left: 10px;
}
.filter-section {
    margin-bottom: 20px;
}

.filter-label {
    color: white;
    text-shadow: 0 0 3px black;
    padding-left: 10px;
}
.tags {
    color: white;
    text-shadow: 0 0 3px black;
    display: flex;
    flex-wrap: wrap;
}
.tag {
    background-color: var(--white-33-opacity);
    border-radius: 35px;
    padding: 2px 10px;
    margin: 5px;
    cursor: pointer;
}
.tag:hover {
    color: black;
    text-shadow: none;
    background-color: white;
}
.rating-bar input {
    overflow: hidden;
    cursor: pointer;
    appearance: none;
    height: 15px;
    width: 90%;
    margin: 0 10px 0 10px;
    border-radius: 35px;
    background-color: var(--white-50-opacity);
}
input::-webkit-slider-thumb {
    appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: white;
    box-shadow: -208px 0 0 200px var(--orange);
}
.rating-bar .slide-value {
    font-size: 27px;
    font-weight: 500;
    color: black;
    width: 70px;
    text-align: center;
}

main {
    grid-area: m;
    padding: 30px 30px;
}