@import url(/client/base.css);

body {
    display: grid;
    grid-template-areas:
        "h h"
        "s m"
        "f f";
    grid-template-columns: 335px auto;
    grid-template-rows: 135px auto 35px;
    margin: 0;
}

.tags {
    justify-content: space-evenly;
}
.tag:hover {
    color: black;
    text-shadow: none;
    background-color: white;
}
.tag.selected {
    color: black;
    text-shadow: none;
    background-color: white;
}

.search-ingredients input {
    font-size: 1em;
    width: calc(100% - 10px);
    height: 40px;
    padding: 0 5% 0 15%;
    border: 0.2em solid var(--white-33-opacity);
    background-size: 16px;
    margin: 5px;
}
.search-ingredients input:hover {
    background-size: 16px;
}

#random-button {
    margin-top: 20px;
}

.cocktails-container:hover > :not(:hover) {
    opacity: 0.5;
}