@import url(/client/base.css);

:root {
    --btn-big-font-size: 1.5rem;
}
body {
    grid-template-areas:
        "h"
        "m";
    grid-template-rows: 135px auto;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.element-border {
    width: 500px;
}
.btn-container {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-normal-grey {
    margin-right: 5px;
}
.btn-normal-grey:hover {
    text-shadow: 0 0 15px black;
}
.ingredient-item {
    margin-bottom: 10px;
}

.element-input::placeholder {
    font-size: var(--main-font-size);
    color: var(--grey);
}
#ingredients_container > .element-inner-container {
    margin-bottom: 15px;
}
#ingredients_container > .btn-normal-grey {
    font-size: var(--main-font-size);
    padding: 10px 0 0 10px;
}

@media (max-width: 550px) {
    main {
        grid-template-columns: 100%;
    }
    .element-border {
        width: 100%;
    }
}

