.search-bar input {
    min-width: 400px;
    min-height: 50px;
    padding: 0 3% 0 5%;
    border-radius: 4em;
    font-size: 1em;
    color: white;
    border: 0.25em solid #a3a3a3;
    outline: none;
    background: transparent;
}