@import url(../base.css);

.search-bar input {
    min-width: 400px;
    min-height: 50px;
    padding: 0 3% 0 11%;
    border-radius: 4em;
    font-size: 1em;
    color: white;
    border: 0.25em solid var(--grey);
    outline: none;
    background: transparent url('../images/symbol_search.png') no-repeat 15px center;
    background-size: 20px 20px;
}